table tr:hover {
  background-color: 219, 216, 121; }

.btn {
  display: inline-block;
  color: white;
  background-color: #ea83ee;
  line-height: 2.5px;
  border-radius: 3px;
  font-size: 24px; }

.btn__icon {
  font-size: .6em; }

.btn--info {
  background-color: #42b8dd; }

p {
  font-size: 16px; }

p {
  z-index: 1; }

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  background-color: #b3b3b3;
  padding: 24px; }
  @media only screen and (min-width: 800px) {
    section {
      background-color: red; } }

.max-width--huge {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

header {
  background-color: #ea83ee; }
